body, p {
    margin: 0;
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(./fonts/InterRegular.ttf);    
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url(./fonts/InterBold.ttf);    
}

html {
    font-family: Inter;
    font-weight: 400;
}

.container {
    background: #6600FF;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-app {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 380px;
    height: 530px;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
}

.location-bar {
    height: 44px;
    display: flex;
}

.location-btn {
    height: 100%;
    width: 44px;
    border: 1px solid rgba(0, 0, 0, 40);
    border-radius: 10px;
    margin-left: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.location-input {
    height: 100%;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 40);
    border-radius: 10px;
    pad: 12px 15px;
    box-sizing: border-box;
}

.current-weather {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.current-weather-icon {
    width: 220px;
    height: 220px;
}

.current-weather-temperature {
    font-size: 45px;
}

.current-weather-status {
    font-size: 25px;
}

.forecast {
    display: flex;
    gap: 10px;
    overflow: auto;
}

.forecast-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forecast-time {
    font-size: 15px;
    font-weight: bold;
}

.forecast-icon {
    width: 40px;
    height: 40px;
}

.forecast-temperature {
    font-size: 15px;
}